.input,
.submit {
  width: 100%;
  height: 56px;
  border-radius: 6px;
}

.input {
  border: 1px solid #8692a6;
  outline: none;
  padding-left: 1.5rem;
  font-size: 14px;
}

.submit {
  background-color: #1565d8;
  color: #ffffff;
  outline: none;
  border: none;
  font-size: 16px;
  margin: 2rem 0 0 0;
}
